ul li a .badge{
	background-color: #59a0df;

}




/*Table in Your Bet Tab*/
tr td .match-name{
	font-size: 10px;
}

.match td div span{
	font-size: 10px;
}





.league option{
	font-size: 10px;
}



/*Table in Lag Selector Tab*/
.leg-row .leg-row-date span{
	font-size: 10px;
}

.leg-row .leg-row-descr{
	font-size: 10px;
}

.round-cell{
	border-radius: 8px;
}

