.price{
    padding: 0 8px;
}
.wrap-slider{
    min-height: 16px;
    width: 92%;
    margin-left: 4%;
}
.btn-group{
    margin-top: 16px;
    margin-bottom: 0;
}
.form-marg{
    margin-top: 40px;
}
.text-center {
    text-align: center;
    line-height: 24px;
}
.text-goals{
        position: absolute;
    top: 196px;
    left: 97px;
    font-size: 16px;
}