.price-symbol{
    padding: 0 4px;
    font-size: 16px!important;
    color: #ffffff!important;
}
.wrap-slider{
    min-height: 16px;
    width: 92%;
    margin-left: 4%;
    margin-top: 30px;
}
.btn-group{
    margin-top: 16px;
    margin-bottom: 0;
}
.form-marg{
    margin-top: 40px;
}
.text-center {
    text-align: center;
    line-height: 24px;
}
.text-goals{
    position: absolute;
    transform: translateX(-50%);
    top: 154px;
    left: 50%;
    font-size: 14px;
    width: 100%;
    text-align: center;
        color: #fff;
}
.match-result{
    position: relative;
    transform: translateY(-4%) translateX(-50%);
    left: 50%;
}