<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ioSpot Exotics Demo</title>
    <link href="../css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/app/bs-wizard.css" rel="stylesheet">
    <link href="../css/app/exotics-engine.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <div class="header clearfix">
	<h3>ioSport Exotics Demo</h3>
      </div>
      <!-- form process steps -->
      <div class="row bs-wizard" style="border-bottom:0;">        
        <div class="col-xs-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Step 1</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
	  <div class="bs-wizard-info text-center">Browse Bets</div>
        </div>        
        <div class="col-xs-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">Step 2</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
	  <div class="bs-wizard-info text-center">Edit Bet</div>
        </div>        
        <div class="col-xs-4 bs-wizard-step disabled">
          <div class="text-center bs-wizard-stepnum">Step 3</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
	  <div class="bs-wizard-info text-center">Place Bet</div>
        </div>
      </div>
      <!-- page title -->
      <h2 class="text-center">Mini Leagues</h2>
      <!-- indicative price -->
      <h3 style="color:#888;margin-bottom:20px;" class="text-center"><i>Your Price: <span name="price">[...]</span></i></h3>
      <!-- form -->
      <div style="margin-bottom:20px;">
	<!-- your team -->
	<div class="row">
	  <div class="col-xs-3">
	  </div>
	  <div class="col-xs-6">
	    <label>Your Team</label>
	    <table class="table table-condensed">
	      <tbody>
		<tr>
		  <td>
		    <select class="form-control" name="league">
		      <option value="" disabled selected>Select League</option>
		    </select>
		  </td>
		  <td>
		    <select class="form-control" name="team">
		      <option value="" disabled selected>Select Team</option>
		    </select>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	  <div class="col-xs-3">
	  </div>
	</div>
	<!-- payoff -->
	<div class="row">
	  <div class="col-xs-4">
	  </div>
	  <div class="col-xs-4">
	    <label>Payoff</label>
	    <div class="form-group">
	      <select class="form-control" name="payoff">
		<option value="" disabled selected>Select</option>
	      </select>
	    </div>
	  </div>
	  <div class="col-xs-4">
	  </div>	  
	</div>
	<!-- versus -->	

	<div class="row">
	  <div class="col-xs-2">
	  </div>
	  <div class="col-xs-8">
	    <label>Versus</label>
	    <table class="table table-condensed">
	      <tbody>
		<tr>
		  <td>
		    <select class="form-control">
		      <option value="" disabled selected>Select League</option>
		    </select>
		  </td>
		  <td>
		    <select class="form-control">
		      <option value="" disabled selected>Select Team</option>
		    </select>
		  </td>
		  <td>
		    <button type="button" class="btn btn-secondary">
		      <span class="glyphicon glyphicon-plus"></span>
		    </button>
		    <button type="button" class="btn btn-secondary">
		      <span class="glyphicon glyphicon-remove"></span>
		    </button>
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	  <div class="col-xs-2">
	  </div>
	</div>
	<!-- expiry -->
	<div class="row">
	  <div class="col-xs-4">
	  </div>
	  <div class="col-xs-4">
	    <label>Expiry</label>
	    <div class="form-group">
	      <select class="form-control" name="expiry">
		<option value="" disabled selected>Select</option>
	      </select>
	    </div>
	  </div>
	  <div class="col-xs-4">
	  </div>	  
	</div>
      </div>
      <!-- buttons -->
      <div class="text-center" style="margin-bottom:20px;">
	<div class="btn-group btn-group-lg">
	  <button style="width:100px;" type="button" class="btn btn-secondary btn-lg">Cancel</button>
	  <button style="width:100px;" type="button" class="btn btn-primary btn-lg">Next</button>
	</div>
      </div>
      <!-- footer -->
      <footer class="footer">
        <p><h5>&copy;ioSport 2017</h5></p>
      </footer>
    </div>
    <!-- javascript -->
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/app/mini_leagues.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      EEMiniLeagues.bind();
      });
    </script>
  </body>
</html>

