.btn-build{
    min-width: 56%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: 35px;
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}