.wrap-mybettab{
    text-align: center;
    margin: 8px 0 16px;
    color: #fff;
}
.title-mybettab{
    margin-bottom: 8px;
}
.wrap-slider{
    width: 90%;
    margin: 32px 5% 42px 5%;
}
.price-text{
    margin-bottom: 8px;
}
.price-symbol{
    padding: 0 4px;
}
.output-block{
    margin-bottom: 24px;
}
.price{
    font-size: 1.4em;
    color: #d99c41;
}
