.sanfona {

    color: #945450;
}

.b-angle {
    position: relative;
    bottom: -3px;
}

.b-angle > svg {
    width: 20px;
    height: 20px;
}

.title-img {
    width: 24px;
    height: auto;
    margin-right: 24px;
    display: table-cell;
    vertical-align: middle;
}

.title-img img {
    position: relative;
    bottom: 6px;
    width: 24px;
    height: auto;
}

.wrap-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
