.sanfona {
    
    color: #945450;
}
.b-angle{
    position: relative;
    bottom: 18px;
    left: 90%
}
.b-angle >  svg{
    width: 20px;
    height: 20px;
}
.title-img{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-bottom: 2px;
}
.title-img img{
    position: relative;
    bottom: 3px;
    width: 24px;
    height: auto;
}