#app {
    margin: 0 auto;
}

#app .header {
    position: absolute;
    padding: 11px 15px;
}

#app .header img {
    display: inline-block;
    max-width: 130px;
}

#app .nav-tabs {
    padding: 10px 6px 0;
    margin-bottom: 20px;
}

.nav-tabs > li > a {
    line-height: 1.5;
}

ul li a .badge {
    background-color: #59a0df;
}

.leg-row .leg-row-descr {
    font-size: 14px;
}

span.bold {
    font-weight: bold;
}

.main-menu-container {
    margin: 0 -15px 20px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.main-menu-btn {
    padding: 7px 40px;
}

.round-cell {
    border-radius: 8px;
}

.round-cell .round-cell-btn {
    background-color: #575763;
    border-color: #575763;
    border-radius: 3px !important;
    outline: none;
    width: 40px !important;
    height: 30px !important;
    line-height: 29px !important;
}

.round-cell .round-cell-btn:focus {
    outline: none;
}

.round-cell .round-cell-btn:hover,
.round-cell .round-cell-btn:focus {
    color: #FFF;
}

tr > td span.today {
    background: #1F8DC4;
    min-width: 40px;
    padding: 3px 0;
    color: #fff;
}

tr > td span.future {
    /*background: #EC644B;*/
    background: #1F8DC4;
    min-width: 40px;
    padding: 3px 0;
    color: #fff;
}

.react-sanfona {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 70px;
    position: relative;
    top: 0;
    left: 0;
}

.react-sanfona-item:first-child .react-sanfona-item-wrap {
    border-top: none;
}

.react-sanfona-item-expanded .react-sanfona-item-title .title-done-btn {
    display: inline-block;
    float: right;
    color: #000;
}

.react-sanfona-item .title-done-btn {
    display: none;
}

.react-sanfona-item-title {
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color .3s;
    width: auto;
    padding-left: 30px;
    display: table-cell;
    position: relative;
    bottom: 6px;

}

.react-sanfona-item:hover .tooltip {
    opacity: 1;
}

.react-sanfona-item-body-wrapper {
    padding: 0 6px;
    position: relative;
}

.react-sanfona-item-wrap {
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
    padding: 16px 16px 6px 16px;
    cursor: pointer;
    line-height: 44px;
}

.react-sanfona-item-expanded .react-sanfona-item-wrap {
    background-color: #d99c41;
}

.rc-slider-track {
    background-color: #81bfde;
    height: 10px;
    top: 2px;
}

.rc-slider-rail {
    height: 10px;
    top: 2px;
}

.rc-slider-handle {
    background-color: #59a0df;
    width: 20px;
    height: 20px;
    border: none;
    margin-left: -9px;
    margin-top: -9px;
}

.rc-slider-dot {
    width: 20px;
    height: 20px;
    bottom: -7px;
    border: none;
    margin-left: -9px
}

.rc-slider-dot:first-child {
    margin-left: -9px;
}

.rc-slider-dot:last-child {
    margin-left: -9px;
}

.rc-slider-dot-active {

    background-color: #81bfde;
}

.rc-slider-mark-text-active {
    color: #FFF;
}

.rc-slider-mark {
    margin-top: 4px;
    font-size: 16px;
}

.table-not-bordered thead > tr > th, .table-not-bordered tbody > tr > td {
    border: 0;
    padding: 1%;
}

.table-not-bordered .match-name {
    font-size: 14px;
}

.result-text {
    min-height: 44px;
    margin-top: 44px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/*
 * "Browser" Tab Page
 */
#exotic-acca-list-header {
    margin-bottom: 15px;
    text-align: center;
}

#exotic-acca-list-header span {
    font-size: 12px;
}

#exotic-acca-list-header select {
    font-size: 13px;
    width: 125px;
    /*display: inline-block;*/
    display: none;
    margin-right: 5px;
    padding: 7px 0 7px 7px;
    height: 35px;
    background: #59a0df;
    border-color: #5598d4;
    color: #fff;
    text-align-last: center;
}

#exotic-acca-list-header select.acca-product-type {
    margin-right: 40px;
}

#exotic-acca-list-header button {
    height: 35px;
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

#exotic-acca-list-table {
    height: 450px;
}

#exotic-acca-list-table span {
    color: #fff;
}

#exotic-acca-list-table span.label {
    background: #37a000;
    margin-top: 5px;
    clear:both;
    min-width: 80px;
}

#exotic-acca-list-table tr:last-child {
    border-bottom: 1px solid #575763;
}

#exotic-acca-list-table td.leg-row-descr {
    padding-top: 20px;
    padding-bottom: 20px;
}

#exotic-acca-list-table td.leg-row-descr span {
    display: inline-block;
    float: left;
    font-size: 11px;
}

#exotic-acca-list-table td.leg-row-descr div span {
    font-size: 13px;
}

#exotic-acca-list-table td.leg-row-price {
    font-size: 17px;
}

#exotic-acca-list-content .paginator {
    margin-top: 30px;
}

/*
 *  "Betslip" Page
 */
.leg-row .leg-row-date span {
    font-size: 10px;
}

.leg-row .leg-row-descr span {
    font-size: 12px;
}

.leg-row .leg-row-descr > span {
    font-weight: bold;
    color: #fff;
}

.leg-row .leg-row-descr > span > span {
    font-weight: normal;
    color: hsla(0, 0%, 100%, .7);
}

.bet-submit-btns {
    text-align: center;
    margin-bottom: 20px;
}

.bet-submit-btns .stake {
    display: inline-block;
    background-color: #fff;
    margin: 0 10px 10px 10px;
}

.bet-submit-btns .stake .stake-label {
    display: block;
    background: #454551;
    padding-bottom: 2px;
}

.bet-submit-btns .stake .stake-symbol {
    color: #000;
    padding: 0 4px 0 15px;
}

.bet-submit-btns .stake .stake-value {
    width: 50px;
    height: 30px;
    border: none;
    color: #000;
    -moz-appearance: textfield;
}

.bet-submit-btns .stake .stake-value:focus {
    outline: none;
}

.bet-submit-btns .stake .stake-value::-webkit-outer-spin-button,
.bet-submit-btns .stake .stake-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
 * "Bet place confirm" page
 */
.bet-confirm-container {
    text-align: center;
    padding-top: 10px;
}

.bet-confirm-container h3 {
    margin: 10px 0 10px 0;
}

.bet-confirm-container h3,
.bet-confirm-container span {
    color: #fff;
}

.bet-confirm-container .bet-placed-text {
    padding: 15px 0;
    background: #3a3a45;
    border-top: 2px solid #3c763d;
    font-size: 16px;
    color: hsla(0, 0%, 100%, .7);
}

.bet-confirm-container .bet-placed-text span {
    margin-right: 10px;
    color: #3c763d;
}

.bet-confirm-container .bet-placed-product {
    color: hsla(0, 0%, 100%, .7);
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

.bet-confirm-container .bet-goal span {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.bet-confirm-container .bet-legs .leg-row .leg-row-descr > span > span {
    color: #fff;
}

.bet-confirm-container .bet-placed-price {
    padding: 15px 0;
    border-top: 1px solid #d99c41;
    border-bottom: 1px solid #d99c41;
    color: #fff;
    font-size: 16px;
}

.bet-confirm-container .bet-placed-price span {
    color: #d99c41;
}

.bet-confirm-container .bet-placed-result span {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
}

.bet-confirm-container .site-url,
.bet-confirm-container .bet-saved-date {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}

.bet-confirm-container .bet-saved-date {
    color: hsla(0, 0%, 100%, .5);
}

.bet-confirm-container .bet-placed-result {
    margin-bottom: 30px;
}

.bet-confirm-container .main-menu-btn:first-child {
    margin-right: 15px;
}

.bet-confirm-container .main-menu-btn {
    padding: 7px 0;
    width: 150px;
}

.bet-confirm-container .table tbody > tr > td {
    color: #fff;
}

/* "Bets" Tab */
#my-bet-tabs .nav-tabs {
    margin: 0 20px 0 20px;
    padding: 0;
    border-radius: 30px;
}

#my-bet-tabs .nav-tabs > li > a {
    font-size: 12px;
    min-width: 80px;
}

#my-bet-tabs .nav-tabs > li.active:before {
    border: none;
}

#my-bet-tabs .nav-tabs > li.active > a {
    background-color: #ec644b;
}

#my-bet-tabs .nav-tabs > li.active:first-child > a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#my-bet-tabs .nav-tabs > li.active:last-child > a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.faq-btn {
    float: right;
    margin-top: -36px;
    margin-right: 20px;
    background: #575763;
    color: hsla(0, 0%, 100%, .7);
}