.wrap-mybettab{
    margin: 20px auto 14px auto;
    max-width: 270px;
}
.show-text{
    font-size: 16px;
    min-height: 24px;
    font-weight: 600;
    color: #fff;
}
.wrap-show-text{    
    margin: 24px 12px;
    min-height: 98px;
}
.price{
    padding: 0 8px;
}