<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ title }}</title>
    <script type="text/javascript" src="../js/lib/head.load.min.js"></script>
    <script type="text/javascript">
        head.load([ '../css/lib/bootstrap.min.css',
                    '../css/lib/bootstrap-slider.min.css',
                    '../css/app/theme.min.css',
                    '../css/app/exotics_engine.css',
                    '../js/build/bundle.js']);
    </script>
    <link rel = "stylesheet" href = "../css/styles.css" />
  </head>
  <body>
    <div id="app" class="container">
    </div>
   <!--<script type="text/javascript" src="../js/build/bundle.js"></script>-->
  </body>
</html>

