<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exotics Engine</title>
    <link href="../css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/app/exotics-engine.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">            
      <div class="header clearfix">
	[Header]
      </div>
      <div class="form-group row">
	<label for="example-text-input" class="col-xs-2 col-form-label">Text</label>
	<div class="col-xs-10">
	  <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
	</div>
      </div>
      <div class="form-group row">
	<label for="example-search-input" class="col-xs-2 col-form-label">Search</label>
	<div class="col-xs-10">
	  <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
	</div>
      </div>
      <footer class="footer">
        <p>[Footer]</p>
      </footer>
    </div>
    <!-- javascript -->
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/app/exotics-engine.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      ExoticsEngine.bind();
      });
    </script>
  </body>
</html>

