ul li a .badge{
	background-color: #59a0df;
}
/*Table in Your Bet Tab*/
tr td .match-name{
	font-size: 10px;
}
.match td div span{
	font-size: 10px;
}
.league option{
	font-size: 10px;
}
/*Table in Lag Selector Tab*/
.leg-row .leg-row-date span{
	font-size: 10px;
}
.leg-row .leg-row-descr{
	font-size: 10px;
}
.round-cell{
	border-radius: 8px;
}
.round-cell .round-cell-btn {
	background-color: #575763;
	border-color: #575763;
	border-radius: 3px !important;
	outline: none;
	width: 40px !important;
}
.round-cell .round-cell-btn:focus {
	outline: none;
}
.round-cell .round-cell-btn:hover,
.round-cell .round-cell-btn:focus{
	color: rgba(255, 255, 255, 0.7);
}
.bet-slider-container{
	margin-left: 30px;
	margin-right: 30px;
}
.bet-slider-container .slider.slider-horizontal{
	width: 100%;
}
