ul li a .badge {
    background-color: #59a0df;
}

/*Table in Your Bet Tab*/
tr td .match-name {
    font-size: 10px;
}

.match td div span {
    font-size: 10px;
}

.league option {
    font-size: 10px;
}

/*Table in Lag Selector Tab*/
.leg-row .leg-row-date span {
    font-size: 10px;
}

.leg-row .leg-row-descr {
    font-size: 10px;
}

.round-cell {
    border-radius: 8px;
}

.round-cell .round-cell-btn {
    background-color: #575763;
    border-color: #575763;
    border-radius: 3px !important;
    outline: none;
    width: 40px !important;
}

.round-cell .round-cell-btn:focus {
    outline: none;
}

.round-cell .round-cell-btn:hover,
.round-cell .round-cell-btn:focus {
    color: rgba(255, 255, 255, 0.7);
}

.product-select {
    margin: 20px 50px 0 50px;
    position: relative;
}

.product-select .product-help-btn {
    position: absolute;
    top: 33px;
    right: -30px;
    font-size: 21px;
    cursor: pointer;
}

.product-select .product-help-btn .glyph-background {
    position: relative;
    border-radius: 50%;
    z-index: 2;
    color: #59a0df;
}

.product-select .product-help-btn .inner {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

/* Style for Your Bet tab */
.bet-submit-btns {
    text-align: center;
    margin-bottom: 20px;
}

.bet-submit-btns .stake {
    display: inline-block;
    background-color: #fff;
    margin: 0 10px 0 10px;
}

.bet-submit-btns .stake .stake-label {
    display: block;
    background: #454551;
    padding-bottom: 2px;
}

.bet-submit-btns .stake .stake-symbol {
    color: #000;
    padding: 0 4px 0 15px;
}

.bet-submit-btns .stake .stake-value {
    width: 50px;
    height: 30px;
    border: none;
    color: #000;
    -moz-appearance: textfield;
}

.bet-submit-btns .stake .stake-value:focus {
    outline: none;
}

.bet-submit-btns .stake .stake-value::-webkit-outer-spin-button,
.bet-submit-btns .stake .stake-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bet-submit-btns .bet-cancel-btn {
    background-color: gray;
}

.bet-slider-container {
    margin-left: 30px;
    margin-right: 30px;
}

.bet-slider-container .slider.slider-horizontal {
    width: 100%;
}

/* Style for bet confirm page */
.bet-confirm-container {
    text-align: center;
    padding-top: 10px;
}

.bet-confirm-container h3 {
    margin: 10px 0 10px 0;
}

.bet-confirm-container h3,
.bet-confirm-container span {
    color: hsla(0, 0%, 100%, .5);
}

.bet-confirm-container .bet-placed-text {
    padding: 15px 0;
    background: #3a3a45;
    border-top: 2px solid #3c763d;
    font-size: 16px;
}

.bet-confirm-container .bet-placed-text span {
    margin-right: 10px;
    color: #3c763d;
}

.bet-confirm-container .bet-placed-product {
    color: #fff;
    display: inline-block;
    font-size: 18px;
}

.bet-confirm-container .bet-goal span {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.bet-confirm-container .bet-legs {
}

.bet-confirm-container .bet-placed-price {
    padding: 15px 0;
    border-top: 1px solid #d99c41;
    border-bottom: 1px solid #d99c41;
    color: #fff;
    font-size: 16px;
}

.bet-confirm-container .bet-placed-price span {
    color: #d99c41;
}

.bet-confirm-container .bet-placed-result span {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
}

.bet-confirm-container .site-url,
.bet-confirm-container .bet-saved-date {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}

.bet-confirm-container .bet-placed-result {
    margin-bottom: 30px;
}

.bet-confirm-container .main-menu-container {
    margin: 30px -15px 20px;
    padding: 15px 0 15px 0;
    background: #575763;
}

.bet-confirm-container .main-menu-btn {
    padding: 7px 40px;
}

/* Style for staging slider */
.app-stage-slider-container {
    margin: 30px 40px 30px 40px;
}

.app-stage-slider-container .slider.slider-horizontal {
    width: 100%;
}

.app-stage-slider-container .slider.slider-horizontal .slider-track {
    height: 8px;
    margin-top: 1px;
    background: #575763;
}

.app-stage-slider-container .slider.slider-horizontal .slider-track .slider-selection.tick-slider-selection {
    background: #675545;
    box-shadow: none;
}

.app-stage-slider-container .slider.slider-horizontal .slider-tick-container .slider-tick {
    background: #575763;
    width: 30px;
    height: 30px;
}

.app-stage-slider-container .slider.slider-horizontal .slider-tick-container .slider-tick.in-selection {
    background: #d99c41;
    border: 8px solid #675545
}

.app-stage-slider-container .slider.slider-horizontal .slider-handle {
    background: #d99c41;
    width: 30px;
    height: 30px;
    border: 8px solid #675545
}

.app-stage-slider-container .slider.slider-horizontal .slider-tick-label-container {
    margin-top: 30px;
    padding-left: 5px;
}

.slider.slider-horizontal{
    width: 80%;
    margin-left: 9%;
}
/* APP Your Bets Tab */
#my-bet-tabs {
    width: 200px;
    margin: 0 auto;
}

#my-bet-tabs .nav-tabs {
    margin: 0 20px 0 20px;
    padding: 0;
    border-radius: 30px;
}

#my-bet-tabs .nav-tabs > li > a {
    font-size: 12px;
}

#my-bet-tabs .nav-tabs > li.active:before {
    border: none;
}

#my-bet-tabs .nav-tabs > li.active > a {
    background-color: #d99c41;
}

#my-bet-tabs .nav-tabs > li.active:first-child > a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#my-bet-tabs .nav-tabs > li.active:last-child > a {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#my-bet-list {
    margin-top: 15px;
}

#my-bet-list .panel-group .panel {
    background: none;
    border-color: #575763;
    border-width: 1px 0 0 0;
}

#my-bet-list .panel-group .panel:last-child {
    border-width: 1px 0 1px 0;
}

#my-bet-list .panel-group .panel .panel-heading {
    background: none;
    color: hsla(0, 0%, 100%, .7);
    padding: 0;
}

#my-bet-list .panel-group .panel .panel-heading {
    display: inline-block;
    width: 100%;
}

#my-bet-list .panel-group .panel .panel-heading a {
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#my-bet-list .panel-group .panel .panel-heading a:hover {
    text-decoration: none;
}

#my-bet-list .panel-group .panel .panel-collapse {
   background: #575763;
}

#my-bet-list .panel-group .panel .panel-collapse .panel-body {
    border: none;
}




